body{
    background-image: linear-gradient(to bottom, #7fa8c1 10%, #DAE7EC 100%);
    height: 100vh; 
}

.col-md-9{
    max-width:880px;
}

.logo{
    padding-top: 10px;
    width: 80px;
    height: 80px;
}
.textologo{
padding-top: 40px;
}

.alert{
    position: relative;
margin-bottom: 0px;
}

.PrimeiracalcBase{
    max-width:600px;
} 
.inp {
    width: 150px;
    height: 40px;
}
.table1 {
   color: white;
   border: dotted 1px black;
}

.table2 {
    background-color: azure;
    color: black;
    line-height: 1;

    border: dotted 1px black;
}

.txCalculo {
    color:white;
    font-size:30.0pt;
    text-align: center;
    margin: 0em;
}


.tabelaValores {
    line-height: 15px;
    background-color: gray;
}

.t0 {
    text-align: left;
    width: 400px;
    font-size: 13pt;
}
.t00 {
    text-align: left;
    width: 50px;
    font-size: 13pt;
}

.t01 {
    width: 200px;
    font-size: 13pt;
    align-items: center;
}

.t1{
    border: dotted 1px black;
    text-align: left;
    width: 400px;
    font-size: 13pt;
}
.t2{
    border: dotted 1px black;
    width: 50px;
    font-size: 13pt;
}
.t3{
    border: dotted 1px black;
    width: 200px;
    font-size: 13pt;
    align-items: center;
}

.txBaseTabela {
    color:white;
    width: 200px;
}

.container {
    position: absolute;
    padding-top: 0px;
    padding-right: 5px;
    width: auto ;
    margin-top: 0px;
    margin: 0px;
    background-color: beige;
    display: inline-block;
    left: auto;
}
.container2 {
    position: absolute;
    margin-top: 0px;
    background-color: beige;
    display: inline-block;
    right: 875px;
}
